@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-3xl font-medium;
	}

	h2 {
		@apply text-xl;
	}

	h3 {
		@apply text-lg;
	}

	body {
		@apply text-gray-700 text-opacity-90 overflow-y-hidden;
	}
}

@layer components {
	.page {
		position: absolute;
		left: 0px;
		right: 0px;
		width: 100%;
		height: 100%;
		transition: transform 0.4s ease-in-out;
	}

	.page-leave {
		transform: translateY(-100%);
	}

	.page-enter {
		transform: translateY(100%);
	}

	.pulsate {
		animation-name: pulsate;
		animation-duration: 1s;
		animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	@keyframes pulsate {
		0% {
			opacity: 1;
			transform: scale(1, 1);
		}

		50% {
			opacity: 0.9;
			transform: scale(1.03, 1.03);
		}

		100% {
			opacity: 1;
			transform: scale(0.97, 0.97);
		}
	}
}

@layer utilities {
	.bg-color {
		@apply min-h-screen bg-gradient-to-b from-amber-50 to-red-100;
	}

	.box {
		@apply text-center rounded-md border-2 border-amber-300 py-2 px-4 font-semibold text-gray-700 transition duration-300 ease-in-out;
	}

	.box:hover {
		@apply border-opacity-50 shadow-lg;
	}

	.boxless {
		@apply py-2 px-4 font-semibold text-gray-700 my-2 transition duration-300 ease-in-out;
	}

	.boxless:hover {
		@apply shadow-lg;
	}

	.box:disabled {
		@apply text-opacity-50 opacity-50 cursor-not-allowed;
	}

	.btn-blue {
		@apply border-blue-700 text-blue-800;
	}

	.info:focus {
		@apply outline-none;
	}

	.bg-blue {
		@apply bg-blue-700;
	}

	.btn-purple {
		@apply border-indigo-600 text-indigo-800;
	}

	.info-purple {
		@apply border-indigo-600;
	}

	.bg-purple {
		@apply bg-indigo-600;
	}

	.btn-orange {
		@apply border-orange-600 text-orange-700;
	}

	.info-orange {
		@apply border-orange-600;
	}

	.bg-orange {
		@apply bg-orange-600;
	}

	.btn-round {
		@apply h-12 w-12 rounded-full shadow-md text-white font-extrabold text-2xl;
	}

	.btn-round:hover {
		@apply shadow-2xl;
	}

	.btn-round-orange {
		@apply bg-orange-600;
	}

	.btn-round-orange:hover {
		@apply bg-orange-700;
	}

	.btn-round:disabled {
		@apply bg-gray-500 bg-opacity-25 cursor-not-allowed;
	}

	.mobile-height {
		@apply h-screen;
	}
}
